<h4>Estoque</h4><br>
<table class="table">
    <tr>
        <th>Produto</th>
        <th>Qtd.</th>
        <th>Pre&ccedil;o</th>
        <th></th>
    </tr>
    {{iterator.produtos@@
    <tr>
        <td>[[nome]]</td>
        <td>[[qtd]]</td>
        <td>R$ [[preco]]</td>
        <td>
            <button class="btn btn-success" onclick="add([[id]])" data-toggle="tooltip" data-placement="top" title="Adicionar para venda">
                <i class="fa fa-plus"></i>
            </button>
        </td>
    </tr>
    }}
</table>

<script>
    let estoque = new Array();

    {{iterator.produtosVar@@
            estoque[ [[id]] ] = {idProduto: [[idProduto]], nome: "[[nome]]", preco: [[preco]],precoDesc: [[precoDesc]], qtd: [[qtd]], qtdCompra: 0};
    }}

</script>