{{include.top}}

<style>
    .col {
        padding: 10px;
    }

    table .btn-success {
        margin-top: 0;
        margin-bottom: 0;
    }

    td, th {
        border-color: #adadad !important;
    }

    tbody {
        border: none !important;
    }

    .bgContainer {
        padding: 20px;
        min-height: 70vh;
        background: rgba(0, 0, 66, 0.06);
        border-radius: 20px;
    }
</style>

<div class="row">
    <button class="btn btn-warning float-left controlBtn" onclick="goto('/Evento/Lista')">
        <i class="fa fa-chevron-left"></i>&emsp;
        Voltar
    </button>
</div>

<div class="row">
    <div class="col col-lg-4">
        <div class="bgContainer text-center" id="listaEstoque">
            <i class="fa fa-cog fa-spin" style="font-size: 3rem; color: #aaa"></i>
        </div>
    </div>
    <div class="col col-lg-8">
        <div class="bgContainer">
            <div class="row" style="margin-bottom: 30px">
                <div class="col col-lg-6">
                    <label for="inputCpf">CPF do Cliente</label>
                    <input class="form-control" id="inputCpf" name="cpf" placeholder="___.___.___-__" required>
                    <div class="validationError" data-for="inputCpf"></div>
                </div>
                <div class="col col-lg-6">
                    <label for="inputGraduacao">Graduação</label>
                    <select class="form-control" id="inputGraduacao" name="graduacao">
                        {{iterator.graduacao@@
                        <option value="[[getId]]" data-desconto="[[getDesconto]]">[[getNome]]</option>
                        }}
                    </select>
                </div>
            </div>
            <h3 id="total">Total: R$ 0</h3>
            <table class="table">
                <tr>
                    <th>Produto</th>
                    <th>Preço Unid.</th>
                    <th>Qtd.</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
                <tbody id="tbody">

                </tbody>
            </table>
            <button class="btn btn-success float-right" id="finalizar" onclick="finalizar()">Finalizar</button>
            <button class="btn btn-warning float-right" onclick="limpar()">Limpar</button>
            <br>
            <br>
        </div>
    </div>
</div>

{{include.bottom}}

<script>
    let total, desconto = false, qtdProdutos = 0;
    $("#finalizar").attr("disabled", "disabled");

    let refreshTooltipEvent = function () {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        });

    };

    function refreshEstoque() {
        $("#listaEstoque").html("<i class=\"fa fa-cog fa-spin\" style=\"font-size: 3rem; color: #aaa\"></i>");
        $.ajax({
            url: "/Venda/ListaEstoque/{{echo.id}}",
            success: function (e) {
                $("#listaEstoque").html(e);
                refreshTooltipEvent();
            }
        });
    }

    function validateCPF(cpf) {
        var Soma;
        var Resto;
        Soma = 0;

        if (cpf === "00000000000") return false;

        for (let i = 1; i <= 9; i++) Soma = Soma + parseInt(cpf.substring(i - 1, i)) * (11 - i);
        Resto = (Soma * 10) % 11;

        if ((Resto === 10) || (Resto === 11)) Resto = 0;
        if (Resto !== parseInt(cpf.substring(9, 10))) return false;

        Soma = 0;
        for (let i = 1; i <= 10; i++) Soma = Soma + parseInt(cpf.substring(i - 1, i)) * (12 - i);
        Resto = (Soma * 10) % 11;

        if ((Resto === 10) || (Resto === 11)) Resto = 0;
        if (Resto !== parseInt(cpf.substring(10, 11))) return false;
        return true;
    }

    function refreshTable() {
        if (qtdProdutos == 0)
            $("#finalizar").attr("disabled", "disabled");
        else
            $("#finalizar").removeAttr("disabled");

        $tbody = $("#tbody");
        total = 0;
        let result = "";

        estoque.forEach(function (value, index, array) {
            if (value.qtdCompra > 0) {
                let preco = value.preco;

                if (desconto)
                    preco -= value.precoDesc;

                let subtotal = preco * value.qtdCompra;
                total += subtotal;

                result +=
                    "<tr><td>" + value.nome +
                    "</td><td>R$" + preco.toFixed(2) +
                    "</td><td>x" + value.qtdCompra +
                    "</td><td>R$" + subtotal.toFixed(2) +
                    "</td><td><button class='btn btn-success' onclick='minus(" + index +
                    ")'><i class='fa fa-minus'></i></button>" +
                    "<button class='btn btn-danger' onclick='remove(" + index +
                    ")'><i class='fa fa-times'></i></button></td></tr>";
            }
        });

        $tbody.html(result);
        $("#total").html("Total: R$ " + total.toFixed(2));
        refreshTooltipEvent();
    }

    function minus(id) {
        estoque[id].qtdCompra--;
        qtdProdutos--;
        refreshTable();
    }

    function remove(id) {
        qtdProdutos -= estoque[id].qtdCompra;
        estoque[id].qtdCompra = 0;
        refreshTable();
    }

    function add(id) {
        estoque[id].qtdCompra++;
        qtdProdutos++;
        refreshTable();
    }

    function finalizar() {
        let cpf = $("#inputCpf").cleanVal();

        if (!validateCPF(cpf)) {
            $("#inputCpf").addClass("inputError");
            $(".validationError[data-for=inputCpf]").html("Informe um CPF valido!");
        }


    }

    function limpar() {
        estoque.forEach(function (value, index, array) {
            value.qtdCompra = 0;
        });
        $("#inputCpf").val("");
        qtdProdutos = 0;
        refreshTable();
    }

    $("#inputGraduacao").change(function (e) {
        let desc = $("#inputGraduacao option[value=" + $(this).val() + "]").attr("data-desconto");

        desconto = (desc == 0) ? false : true;
        refreshTable();
    });

    refreshEstoque();
    $("#inputCpf").mask('000.000.000-00', {
        placeholder: "___.___.___-__"
    });
</script>