{{include.Top}}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Atenção</h4><br>
    <p>Se você continuar para gerar o relatório não será mais possivel vender no evento "{{echo.nomeEvento}}" nem apagá-lo</p>
    <p>Certifique-se de que não fará nenhuma venda neste evento</p>
    <hr>
    <button class="btn btn-primary" onclick="goto('/Evento/Lista')">Voltar</button>
    <button class="btn btn-link" onclick="goto('/Evento/Relatorio/{{echo.id}}')">Continuar</button>
</div>

{{include.Bottom}}